.btn{
    background-color:rgb(29, 155, 240);
    color:white;
    font-size: 60px;
    text-decoration: none;
    padding: 10px 45px;
    border-radius: 50px;
}
/* .btn:hover{
    background-color:white;
    color:black;
    border:2px dashed black;
} */
.micro{
    display:inline-block;
    font-size: 40px;
    color:white;
    padding:10px 45px;
    background-color: black;
    text-decoration: none;
}
.micro:hover{
    text-decoration: underline;
}
/* .box{
    background-color: black;
    display: block;
    width:250px;
    padding:10px 45px;
    color:white;
}
.box:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color:white;
    font-size: 40px;
}
a:hover{
    padding-right:5px;
} */
/* .container{
    display:flex;
    justify-content: space-evenly;
}
.blue{
    background-color: blue;
}
.blue:hover{
    background-color: black;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.blue, .red, .green, .yellow{
    width:150px;
    height:150px;
} */